# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
#!pip install -U scipy

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
salaries = pd.read_csv('Salaries.csv')

/var/folders/jj/7c0z5mzs4y128nfwqptlsf000000gn/T/ipykernel_27604/376414709.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv('Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [5]:
salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [6]:
salaries.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [7]:
salaries = salaries.drop(columns=['Notes'])

salaries.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [8]:
status_values = np.array(salaries['Status'].unique())

display(status_values)

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [9]:
salaries = salaries.dropna(subset=['Status'])

In [10]:
salaries.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [11]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [12]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

I have no idea ...

In [13]:
# Your code here

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [14]:
salaries['Sum'] = salaries['BasePay'] + salaries['OvertimePay'] + salaries['OtherPay'] + salaries['Benefits']


salaries['CheckSum'] = salaries['TotalPayBenefits'] == salaries['Sum']


display(salaries[salaries['CheckSum'] == False])

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Sum,CheckSum
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21,False
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22,False
110536,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.2,71580.48,344187.46,415767.94,2014,San Francisco,FT,415767.94,False
110539,110540,Samson Lai,"Battalion Chief, Fire Suppress",179464.14,128685.99,27334.83,59876.9,335484.96,395361.86,2014,San Francisco,FT,395361.86,False
110544,110545,Raymond A Guzman,Dep Chf of Dept (Fire Dept),260728.04,0.0,26761.8,82974.58,287489.84,370464.42,2014,San Francisco,FT,370464.42,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,0.000.00-618.130.00,False

What is the percetage of employees for which the previous assumption is not True?

In [15]:
percentage = (salaries['CheckSum'] == False).value_counts(normalize=True) * 100
percentage

True     61.625436
False    38.374564
Name: CheckSum, dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
department_counts = salaries['JobTitle'].value_counts()
print(department_counts)

Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
                                ...
Claims Process Clerk               1
Asst Dir, Log Cabin Rnch           1
Media Production Specialist        1
Chf Prob Ofc, Juv Court            1
Electric Motor Repair Sprv 1       1
Name: JobTitle, Length: 996, dtype: int64

In [17]:
department_counts_df = department_counts.reset_index()
department_counts_df.columns = ['JobTitle', 'Employees']

display(department_counts_df)

                         JobTitle  Employees
0                Transit Operator       2479
1                   Special Nurse       1478
2                Registered Nurse       1234
3    Public Svc Aide-Public Works        916
4                     Firefighter        815
..                            ...        ...
991          Claims Process Clerk          1
992      Asst Dir, Log Cabin Rnch          1
993   Media Production Specialist          1
994       Chf Prob Ofc, Juv Court          1
995  Electric Motor Repair Sprv 1          1

[996 rows x 2 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [18]:
#Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks and by 40hrs (assuming a 40hrs week)

salaries['Hourly_Wage'] = salaries['TotalPayBenefits'] / (50 * 40)

display(salaries.head())

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Sum,CheckSum,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,510732.68,True,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21,False,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT,436224.36,True,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22,False,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,417435.1,True,208.717550

In [19]:
# Compute the mean hourly wage for all the "FT" employees

# Filtering full-time job employees
ft_employees = salaries[salaries['Status'] == 'FT']

#Compute the mean hourly wage for full-time job employees
mean_hourly_wage_ft = ft_employees['Hourly_Wage'].mean()

print(mean_hourly_wage_ft)

69.26420640727143

In [20]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees
from scipy.stats import ttest_1samp

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(ft_employees['Hourly_Wage'], popmean=75, alternative='two-sided')

print(t_statistic)

-35.80631941460526

In [21]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
from scipy.stats import t

# Degrees of freedom
df = len(salaries) - 1

# Significance level
alpha = 0.05

# Calculate critical values
lower_critical_value = t.ppf(alpha/2, df=df)
upper_critical_value = t.ppf(1 - alpha/2, df=df)

# Display the critical values
print("Lower critical value: {:.3f}".format(lower_critical_value))
print("Upper critical value: {:.3f}".format(upper_critical_value))

Lower critical value: -1.960
Upper critical value: 1.960

In [22]:
# Method 2: Use the p-value method

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(ft_employees['Hourly_Wage'], popmean=75)

# Display the p-value method results
print("t-statistic: {:.3f}".format(t_statistic))
print("p-value: {:.3f}".format(p_value))

t-statistic: -35.806
p-value: 0.000

In [23]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
#!pip install -U scipy

Requirement already satisfied: scipy in /Applications/anaconda3/lib/python3.10/site-packages (1.11.3)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /Applications/anaconda3/lib/python3.10/site-packages (from scipy) (1.23.5)

In [24]:
from scipy.stats import ttest_1samp

In [25]:
# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(ft_employees['Hourly_Wage'], popmean=75)

# Display the results
print("t-statistic: {:.3f}".format(t_statistic))
print("p-value: {:.3f}".format(p_value))

t-statistic: -35.806
p-value: 0.000

Are all the methods in agreement?

Honestly, I don't see any difference between method 2 and method 3 !
Yes, its seems that the tree methods are in agreement, because they all reject the null hypothesis.

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [26]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Sum,CheckSum,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,510732.68,True,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21,False,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT,436224.36,True,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22,False,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,417435.1,True,208.717550

In [27]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees


# Select only "Police" employees
police_salaries = salaries[salaries['JobTitle'].apply(lambda title: 'Police' in title)]

# Set the last year's mean as the null hypothesis
last_year_mean = 86000

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(police_salaries['TotalPayBenefits'], last_year_mean)

# Define the confidence level
confidence_level = 0.95

# Check if the p-value is less than alpha (1 - confidence level)
alpha = 1 - confidence_level
reject_null = p_value < alpha

print(t_statistic)

50.252984742109945

In [28]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.

# Degrees of freedom
degrees_of_freedom = len(police_salaries) - 1

# Critical value for a two-tailed test at the specified confidence level
critical_value = t.ppf(1 - alpha / 2, df=degrees_of_freedom)

# Compare the critical value against the absolute value of the t-statistic
compare_values = abs(t_statistic) > critical_value

# Print the critical value and the comparison result
print(f"Critical value: {critical_value}")
print(f"Comparison result:{compare_values}")

Critical value: 1.9612133305737955
Comparison result:True

In [29]:
# Method 2: Use the p-value method.

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(police_salaries['TotalPayBenefits'], last_year_mean)

# Define the confidence level
confidence_level = 0.95

# Check if the p-value is less than alpha (1 - confidence level)
alpha = 1 - confidence_level
reject_null = p_value < alpha

# Print the results
print(f"t-statistic: {t_statistic}")
print(f"p-value: {p_value}")
print(f"Reject null hypothesis: {reject_null}")

t-statistic: 50.252984742109945
p-value: 0.0
Reject null hypothesis: True

In [30]:
# Method 3: Use the ttest_1samp function from scipy. 

# Set the last year's mean as the null hypothesis
last_year_mean = 86000

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(police_salaries['TotalPayBenefits'], last_year_mean)

# Define the confidence level
confidence_level = 0.95

# Check if the p-value is less than alpha (1 - confidence level)
alpha = 1 - confidence_level
reject_null = p_value < alpha

# Print the results
print(f"t-statistic: {t_statistic}")
print(f"p-value: {p_value}")

t-statistic: 50.252984742109945
p-value: 0.0

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [31]:
# Get the department which has most employees

most_employees_department = salaries['JobTitle'].value_counts().idxmax()

# Print the result
print(most_employees_department)

Transit Operator

In [32]:
# Compute the t_statistic. Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

# Select employees with the specified job title
target_job_salaries = salaries[salaries['JobTitle'] == 'Transit Operator']

# Perform one-sample t-test
t_statistic, p_value = ttest_1samp(target_job_salaries['TotalPayBenefits'], last_year_mean)

# Print the results
print(f"t-statistic: {t_statistic}")
#print(f"p-value: {p_value}")

t-statistic: 0.8198842956826209

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [36]:
salaries

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Sum,CheckSum,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,510732.68,True,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21,False,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT,436224.36,True,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22,False,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,417435.1,True,208.717550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False,0.000000
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False,0.000000
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False,0.000000
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,0.000.000.000.00,False,0.000000
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,0.000.00-618.130.00,False,-0.309065

In [34]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:
from scipy.stats import sem

confidence_level = 0.95
degrees_freedom = len(salaries) - 1 
sample_mean = np.mean(salaries)
sample_standard_error = sem(salaries[col].values)
confidence_interval = t.interval(confidence_level,
                                             degrees_freedom,
                                             sample_mean,
                                             sample_standard_error)

/Applications/anaconda3/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/Applications/anaconda3/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3430: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
print('Sample mean: ', sample_mean)
print('Confidence interval: ', confidence_interval)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [ ]:
# Your code here:

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [40]:
# Create the function

def categorize_employee_group(job_title):
    if 'Police' in job_title:
        return 'Policemen'
    elif 'Fire' in job_title:
        return 'Firemen'
    elif 'Med' in job_title or 'Nurse' in job_title:
        return 'Medical'
    elif 'Attorney' in job_title:
        return 'Lawyer'
    else:
        return 'Other'

In [41]:
# Apply the function
salaries['employee_group'] = salaries['JobTitle'].apply(categorize_employee_group)
display(salaries.head())

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Sum,CheckSum,Hourly_Wage,employee_group
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,510732.68,True,255.366340,Other
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,479652.21,False,239.826105,Medical
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT,436224.36,True,218.112180,Other
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,418019.22,False,209.009610,Policemen
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,417435.1,True,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [42]:
#Store the output dataframe into a new variable
employee_status = salaries.groupby(['employee_group', 'Status']).size().unstack(fill_value=0)
employee_status

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
frequencies = pd.DataFrame()

In [38]:
import scipy.stats as st

In [48]:
# Compute Expected frequency of being "Firemen" and "FT". 
# Store the solution in a variable named "firemen_ft"
firemen_ft = st.chi2_contingency(employee_status)
firemen_ft

Chi2ContingencyResult(statistic=2676.642333711905, pvalue=0.0, dof=4, expected_freq=array([[  885.29798788,   625.70201212],
       [  245.49295627,   173.50704373],
       [ 2294.97830478,  1622.02169522],
       [17794.43096618, 12576.56903382],
       [ 1113.79978488,   787.20021512]]))

In [ ]:
chi2_stat, p, _, expected = chi2_contingency(contingency_table)

# Extract the expected frequency for 'Firemen' and 'FT'
firemen_ft = expected[df['EmploymentType'].unique().tolist().index('FT'), df['employee_group'].tolist().index('Firemen')]

In [ ]:
#Compute Expected frequency of being "Firemen" and "PT". 
#Store the solution in a variable named "firemen_pt"

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function